@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: theme("colors.slate.900");
  background-color: white;
  font-family: theme("fontFamily.sans");
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

:focus-visible {
  outline: 2px solid theme("colors.brand.600");
  outline-offset: 2px;
}
